@import "variables";

.accord_cus_main {
    padding: 5px 40px 5px 40px;
    color: $librebluelight;
    font-family: $font;
    font-weight: 200;
    font-size: 16px;
}
.alert_icons_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0px 0px 10px 0px;
    gap: 5px;
    .alert_icon{
        display: flex;      

    }
}

