@import "variables";


/* Brownies */
.p_mod_brownie1 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/brownie_frijol.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;    
            
}
.p_mod_brownie2 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/brownie_vegano.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;   
            
}
/* Cookies */
.p_mod_cookies1 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/cookie_chips.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;   
            
}
.p_mod_cookies2 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/cookie_pistacho.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;   
            
}
.p_mod_cookies3 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/not_available.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;   
            
}

/* Trufas */

.p_mod_trufas1 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/trufa_coco.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;   
            
}
.p_mod_trufas2 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/trufa_maracuya.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;   
            
}
.p_mod_trufas3 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/trufa_mani.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;   
            
}
.p_mod_trufas4 {
    display: block;
    grid-area: image;
    background: $libreblue;
    background-image: url(../images/trufa_pistacho.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;        
    overflow: hidden;   
            
}
